* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background-color:white;
    font-family: 'inter', sans-serif;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    background-color: #FFF8E3;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #FFF8E3;
}


.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.site-title{
    display: flex;
    flex-direction: column;
    color:  #B4846C;
    font-weight: bold;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2rem;
}

.title-part{
    line-height: 1; 
    margin-left: 5px; 
}

.ampersand{
    margin-left: 17px;
}

.nav-links{
    list-style-type: none;
    display: flex;
    width: 100%;
    margin-top: 110px;
    margin-left: 2px;
}

.nav-links li{
    /* margin-left: 90px; */
    /* margin-right: 50px; */
    width: 100%;
    font-size: 26px;
    vertical-align: top;
    white-space: nowrap;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 0px;
    text-align: center;
}

.list-btn{ 
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-between;
}

.Home{
    margin-left: 250px;
}


.pet-needs{
    margin-left: 60px;
    margin-right: 40px;
    color: white;
}

.pet-needs:hover{
    color: rgba(90, 54, 48, 0.591);
    cursor: pointer;
}

.pawfund{
    margin-left: 40px;
    margin-right: 40px;
}

.getpet{
    margin-left: 40px;
    margin-right: 40px;
}

.about{
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 60px;
    margin-right: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.about:hover{
    color: rgba(90, 54, 48, 0.591);
}


.nav-links a:hover{
    color:  #B4846C; 
}


.btn-icon {
    background-color: #FFF8E3;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-icon:hover {
    background-color: #B4846C;
}
.icon {
    width: 24px;
    height: 24px;
    color: #B4846C;
}


/* content style start */

.about-image{
    width: 100%;
}


.ourmission{
    color: white;
    margin-top: 20px;
    letter-spacing: 5px;
    font-size: 3.5rem;
    font-family: 'lexend exa', arial;
}

.aboutme{
    color: white;
    font-size: 19px;
    text-align: center;
    font-family: 'lexend exa', arial;
    margin-top: 15px;
}



.downme{
    color: white;
    font-family: 'lexend exa', arial;
    font-size: 19px;

}
.downme1, .downme2, .downme3{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-family: 'lexend exa', arial;
    font-size: 19px;
    /* margin-bottom: 50px; */
    width: 600px;
    height: 110px;
    margin: 0px auto 0px auto;
}

.aboutus-title{
    background-color:  #B4846C;
    border: solid;
    border-color:  rgb(125, 90, 80);
    text-align: center;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 45px;
    left: 50%;
}

.about-title{
    background-color:  #B4846C;
    border: solid;
    border-color:  rgb(125, 90, 80);
    text-align: center;
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 45px;
    left: 50%;
    margin-bottom: 0px;
}

.box{
    text-align: center;
    padding-top: 20px;
    /* padding-left: 350px;
    padding-right: 350px; */
}

.welcomepat {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 600px;
    height: 110px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'lexend exa', arial;
    margin: 30px auto 10px auto;
}

.animal-img{
   display: block;
   margin-left: auto;

}

footer {
    background-color:#B4846C;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
}

.contact-info, .social-media, .contact-form {
    width: 20%;
}

.social-media a{
    width: 24px;
    height: 24px;
    margin: 0 5px;
    color:white;
}

.social-media a:hover{
    color: blue;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.ga{
    margin-bottom: 1rem;
}


.cart {
    position: fixed;
    top: 20%;
    right: 5%;
    width: 600px;
    background-color: white;
    border: 1px solid #B4846C;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
}

#cart-items {
    max-height: 400px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.cart h2 {
    margin-bottom: 20px;
    text-align: center;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-actions button {
    background-color: #B4846C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-actions button:hover {
    background-color: #8B5D4D;
}



.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #B4846C;
}

.cart-item span {
    display: block; /* Ensure text spans take full width */
    text-align: center; /* Center text */
}

.cart-item .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background-color: #B4846C;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #8B5D4D;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}


.checkout-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.checkout-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checkout-section {
    width: 48%;
}

.payment-method h2,
.shipping-address h2,
.cart-summary h2 {
    font-size: 24px;
    color: #333;
}

.payment-options label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}
.payment-options img {
    display: block;
    margin-right: auto;
    margin: 10px 0;
    font-size: 18px;
}

.shipping-address form {
    display: flex;
    flex-direction: column;
}

.shipping-address input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.shipping-address button {
    background-color: #B4846C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.shipping-address button:hover {
    background-color: #8B5D4D;
}

.cart-summary {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cart-summary-items {
    display: flex;
    flex-direction: column;
}

.totals {
    margin-top: 20px;
}

.totals p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.pay-button {
    width: 100%;
    background-color: #B4846C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.pay-button:hover {
    background-color: #8B5D4D;
}

/* Sign-In Popup Styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #FFF8E3;
    padding: 20px;
    border-radius: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.popup-content button {
    background: #B4846C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.popup-content button:hover {
    background: #b3794a;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-container {
    display: none;
    position: absolute;
    top: 10px; /* Adjust this value according to your layout */
    right: 40px; /* Adjust this value according to your layout */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #searchInput {
    width: 500px; /* Adjust this value according to your layout */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #closeSearchBtn {
    border: none;
    background: none;
    cursor: pointer;
  }
  








  