body {
    margin: 0;
    padding: 0;
}

.container-one, .container-two {
    width: 100%;
    height: 820px;
    text-align: center;
    justify-content: center;
    display: flex;
    line-height: 0px;
    align-items: center;
    padding:30px;
}

.container-one {
    background-color: #b4846c;
}

.words h1 {
    color: white;
    font-family: "Lexend Exa", sans-serif;
    font-size: 130px;
    text-align: left;
    font-weight: 1000;
}

.words h4 {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: left;
    padding-left: 20px;
    margin-top: 80px;
}

.container-two {
    background-color: #bacd92;
}